@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center{
    @apply flex justify-center items-center ;
}

/* Input */
input{
    @apply shadow-1 indent-3 rounded-sm;
}
.input-1{
    @apply h-10;
}
.input-1:hover{
    box-shadow: 0px 1px 3px rgba(15, 23, 42, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.input-1:focus, .input-1:active{
    outline: 4px solid rgba(30, 41, 59, 0.1);
    box-shadow: none;
}

/* Button */
.btn-size-sm{
    @apply rounded-sm text-base px-[14px] py-[8px] flex-center gap-x-[6px];
}
.btn-size-lg{
    @apply rounded-base text-md px-[20px] py-[10px] flex-center gap-x-[8px];
}
.btn-primary{
    @apply bg-slate-900 text-white hover:bg-slate-800 active:bg-slate-700 disabled:opacity-40;
}
.btn-primary:focus{
    outline: 4px solid rgba(30,41,59,0.1);
}
.btn-outline{
    @apply text-slate-900 hover:text-slate-800 active:text-slate-700 disabled:opacity-40;
}
.btn-outline:focus{
    outline: 4px solid rgba(30,41,59,0.1);
}

.button-sidebar-active{
    @apply !bg-slate-900 !text-white;
}
.button-sidebar{
    @apply text-slate-900/50 hover:bg-gray-100 rounded-base flex justify-between items-center px-[14px] py-2;
}

/* Shadow */
.shadow-1{
    border: 1px solid rgba(15, 23, 42, 0.07);
    box-shadow: 0px 1px 3px rgba(15, 23, 42, 0.04), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.shadow-sidebar{
    box-shadow: 0px 1px 3px rgba(15,23,42,0.1);
}

/* root elements */
body{
    @apply bg-slate-50;
}