@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center{
    @apply flex justify-center items-center ;
}

/* Input */
input{
    @apply shadow-1 indent-3 rounded-sm;
}
.input-1{
    @apply h-10;
}
.input-1:hover{
    box-shadow: 0px 1px 3px rgba(15, 23, 42, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.input-1:focus, .input-1:active{
    @apply outline-none ring-4 ring-slate-800/5;
}

/* Button */
button{
    @apply focus:outline-0;
}

.btn-size-sm{
    @apply rounded-sm text-base px-[14px] py-[8px] flex-center gap-x-[6px] active:scale-95 transition duration-200;
}
.btn-size-lg{
    @apply rounded-base text-md px-[20px] py-[10px] flex-center gap-x-[8px] active:scale-95 transition duration-200;
}
.btn-primary{
    @apply bg-slate-900 text-white hover:bg-slate-800 active:bg-slate-700 disabled:opacity-40;
}
.btn-secondary{
    @apply bg-white hover:bg-slate-50 text-slate-900 shadow-1 disabled:opacity-40;
}
.btn-outline{
    @apply text-slate-900 hover:text-slate-800 active:text-slate-700 disabled:opacity-40;
}

/* Button sidebar */
.sidebar-button-hover-background{
    @apply absolute left-6 right-6 h-[40px] rounded-base bg-slate-100;
}
.button-sidebar-active > .sidebar-button-hover-background{
    @apply !bg-transparent;
}
.button-sidebar-active{
    @apply !bg-slate-900 !text-white;
}
.button-sidebar{
    @apply text-slate-900/50 rounded-base flex justify-between items-center px-[14px] py-2 overflow-clip;
}

/* Shadow */
.shadow-1{
    border: 1px solid rgba(15, 23, 42, 0.07);
    box-shadow: 0px 1px 3px rgba(15, 23, 42, 0.04), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.shadow-2{
    border: 1px solid rgba(15, 23, 42, 0.07);
    box-shadow: 0px 1px 3px 1px rgba(15, 23, 42, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.shadow-sidebar{
    box-shadow: 0px 1px 3px rgba(15,23,42,0.1);
}

/* root elements */
body{
    @apply bg-slate-50;
}